* {
  --tph: 2px;
}

.route {
  fill: none;
}

.route.bg {
  stroke: none;
  stroke-width: calc(var(--fg-width) + 1px);
}

.route.fg {
  stroke-width: calc(var(--fg-width));
  stroke: var(--fg-color);
}

.tph15, .tph12, .tph9, .tph6 {
  --fg-color: red;
}

.tph4, .tph3, .tph2 {
  --fg-color: orange;
}

.infrequent {
  --fg-color: green;
  --fg-width: var(--tph) * 2;
}

.tph15 {
  --fg-width: var(--tph) * 15;
}
.tph12 {
  --fg-width: var(--tph) * 12;
}
.tph9 {
  --fg-width: var(--tph) * 9;
}
.tph6 {
  --fg-width: var(--tph) * 6;
}
.tph4 {
  --fg-width: var(--tph) * 4;
}
.tph3 {
  --fg-width: var(--tph) * 3;
}
.tph2 {
  --fg-width: var(--tph) * 2;
}
